@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .pageContainer{
    @apply  bg-white w-[95%] p-8;
  }
}

body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

*{
  --primaryColor: rgb(18, 18, 248);
  --selectColor: #1e3a8a;
  --fondColor:rgb(234, 234, 253);
}