@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

*{
  --primaryColor: rgb(18, 18, 248);
  --selectColor: #1e3a8a;
  --fondColor:rgb(234, 234, 253);
}